.btn {
    &.btn-primary {
        background: $c-theme-first;
        color: $c-white;
        &:hover {
            color: $c-white !important;
            background: $c-theme-second;
        }
        &:active {
            color: $c-white !important;
            background: $c-theme-third;
        }
        &.border-bottom {
            border-bottom: 3px solid $c-theme-third;
            &:hover {
                border-bottom: 3px solid $c-theme-third;
            }
            &:active {
                border-bottom: 3px solid $c-theme-third;
            }
        }
    }
}
