.btn {
    &.btn-default {
        background: $c-white;
        color: $c-theme-second;
        border: $btn-default-border solid $c-theme-second;
        &:hover {
            color: $c-theme-first;
            border: $btn-default-border solid $c-theme-first;
        }
        &:active {
            color: $c-white;
            background: $c-theme-first;
        }
    }
}
