.btn {
    &.btn-dark {
        background: $c-grey-first;
        color: $c-theme-first;
        &.inverse {
            color: $c-white;
        }
        &:hover {
            background: $c-grey-second;
        }
        &:active {
            background: $c-black;
        }
    }
}
