.btn {
    &.btn-warning {
        background: $color-warning;
        color: $c-white;
        &:hover {
            background: $color-warning-light;
        }
        &:active {
            background: $color-warning-dark;
        }
    }
}
