.btn {
    &.btn-link {
        background: transparent;
        color: $c-theme-first;
        &:hover {
            color: $c-theme-fourth;
        }
        &:active {
            color: $c-theme-second;
        }
        &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
            color: $c-grey-eighth;
        }
    }
}
