.btn {
    &.btn-secondary {
        background: $c-theme-second;
        color: $c-white;
        &:hover {
            background: $c-theme-first;
        }
        &:active {
            background: $c-theme-third;
        }
    }
}
