.btn {
    &.btn-transparent {
        background: transparent;
        color: $c-theme-first;
        &:hover {
            color: $c-theme-third;
            background: $color-extra-dark-transparent;
        }
        &:active {
            color: $c-theme-second;
            background: $color-light-transparent;
        }
    }
}
