.btn {
    &[disabled] {
        cursor: not-allowed;
        background: $c-grey-eighth;
        color: $c-grey-fifth;
        &:hover {
            background: $c-grey-eighth;
            color: $c-grey-fifth;
            border-bottom-color: $c-grey-fifth;
        }
        &.border-bottom {
            border-bottom-color: $c-grey-fifth;
            &:hover {
                color: $c-grey-fifth !important;
                border-bottom-color: $c-grey-fifth;
            }
        }
    }
}
