.badge {
    &.badge-bordered-fat {
        border: $badge-bordered-fat-border-width solid $c-theme-first;
        color: $c-theme-first;
        background: $c-white;
        &.transparent {
            background: transparent;
        }
    }
}
