.badge {
    &.badge-bordered {
        border: $badge-bordered-border-width solid $c-theme-first;
        color: $c-theme-first;
        background: $c-white;
        &.transparent {
            background: transparent;
        }
    }
}
