.input {
    &[disabled] {
        background: $c-grey-tenth;
        border-color: $c-grey-eighth;
        cursor: not-allowed;
        &:hover {
            background: $c-grey-tenth;
            border-color: $c-grey-eighth;
        }
        &:focus {
            background: $c-grey-tenth;
            border-color: $c-grey-eighth;
        }
    }
}
