.btn {
    &.btn-primary {
        border-color: $c-theme-first;
        &:hover {
            border-color: $c-theme-fourth;
            color: $c-grey-first;
        }
        &:focus {
            color: $c-grey-first;
            border-color: $c-theme-fourth;
        }
    }
}
