.label {
    &.label-secondary {
        background: $c-theme-second;
        &.label-bordered,
        &.label-bordered-fat {
            border-color: $c-theme-second;
            color: $c-theme-second;
        }
    }
}
