.label {
    &.label-bordered-fat {
        padding: $label-bordered-fat-padding-top-bottom $label-bordered-fat-padding-left-right;
        border: $label-bordered-fat-border-width solid $c-theme-first;
        background: $c-white;
        color: $c-theme-first;
        &.transparent {
            background: transparent;
        }
    }
}
