.label {
    &.label-dark {
        background: $c-grey-first;
        color: $c-white;
        &.label-bordered,
        &.label-bordered-fat {
            border-color: $c-grey-first;
            color: $c-grey-first;
        }
    }
}
