.label {
    &.label-primary {
        background: $c-theme-first;
        &.label-bordered,
        &.label-bordered-fat {
            border-color: $c-theme-first;
            color: $c-theme-first;
        }
    }
}
